/* Inserta tu código aqui */
nav{
	background: #5D5151;
	width: 100%;
	padding: 4%;

}

a{
	text-decoration: none;
	display: inline-block;
	margin: 0px;
	padding-bottom:0px;
	text-align: center;
}

.letra{
	font-size: 12px;
}	

.inicio{
	color: white;
	margin:1%;
	text-align: center;
	padding-bottom: 10px;
}

.logo{
	width: 8%;
	margin-right: 5%;
	float: left;

}
img{
	width: 100%;
	
}

.chica{
	width:8%;
}

.primero{
	width: 100%;
	margin: 0 auto;
	background: #DDCFCF;
	padding: 20px 10px;
	position: relative;
}

.episodios{
	position: relative;
	bottom: 0px;
}

.borde{
	border:2px solid #B3A9A9;
	background: ;
	margin: 20px 5px 0px;
}

.bordeuno{
	border:1px solid #B3A9A9;
}

.dos{
	padding: 0px 7px 0px 7px;		
}

.portadas{
	font-size: 12px;
	font-family:Arial;
}
footer{
	background:#382626;
	color: white;
	width: 100%;
	margin: 0 auto;
	padding: 3%;
	font-family: Arial;

}

.asider{
	padding: 5%;
	margin-top: 10%;
	
}

.raya{
	border-bottom: 2px solid #D9D1D1;
}

div ul li{
	list-style:none;
}
.link{
	margin: 5%;
	color: white;
}

.fin{
	color: white;
	text-align: center;
	font-size: 12px;
	right: 40px;
}

.texto{
	margin: 1%;
	font-size: 12px;
	line-height: 300%;
}

.final{
	font-size: 8px;
	text-align: center;
}
